:root {
    --bg: #000000;
}
/* wrapper 1 */
.wrapper, .wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5 {
    width: 500px;
    height: 350px;
    display: flex;
    position: absolute;
    overflow: hidden;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

#button, #button1, #button2, #button3, #button4, #button5 {
    visibility: hidden;
    position: relative;
}

.label, .label1, .label2, .label3, .label4, .label5 {
    color: black;
    position: relative;
    border: 2px solid var(--bg);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s all ease;
    transform: scale(0.8);
}

.modal, .modal1, .modal2, .modal3, .modal4, .modal5 {
    width: 0;
    height: 0;
    background: rgba(255,255,255,.7);
    border-radius: 50%;
    transition: 0.5s all ease;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.modal h3, .modal ul li, .modal1 h3, .modal1 ul li, .modal2 h3, .modal2 ul li, .modal3 h3, .modal3 ul li, .modal4 h3, .modal4 ul li, .modal5 h3, .modal5 ul li {
    color: black;
}

.close, .close1, .close2, .close3, .close4, .close5 {
    width: 20px;
    height: 20px;
    position: relative;
    right: 46%;
    cursor: pointer;
    opacity: 0;
}

.close:before, .close:after, .close1:before, .close1:after, .close2:before, .close2:after, .close3:before, .close3:after, .close4:before, .close4:after, .close5:before, .close5:after {
    position: absolute;
    content: '';
    width: 2px;
    height: 17px;
    background: #000000;
}

.close:before, .close1:before, .close2:before, .close3:before, .close4:before, .close5:before {
    transform: rotate(45deg);
}

.close:after, .close1:after, .close2:after, .close3:after, .close4:after, .close5:after {
    transform: rotate(-45deg);
}

#button:checked ~ .label, #button1:checked ~ .label1, #button2:checked ~ .label2, #button3:checked ~ .label3, #button4:checked ~ .label4, #button5:checked ~ .label5 {
    background: var(--bg);
    transition: 0.5s all ease;
    transform: scale(1);
}

#button:checked ~ .modal, #button1:checked ~ .modal1, #button2:checked ~ .modal2, #button3:checked ~ .modal3, #button4:checked ~ .modal4, #button5:checked ~ .modal5 {
    width: 100%;
    height: 100%;
    border-radius: 0;
    transition: width 0.5s ease 0.3s, height 0.5s ease 0.3s, border-radius 0.5s ease 0.3s;
}

#button:checked ~ .modal .close, #button1:checked ~ .modal1 .close1, #button2:checked ~ .modal2 .close2, #button3:checked ~ .modal3 .close3, #button4:checked ~ .modal4 .close4, #button5:checked ~ .modal5 .close5 {
    opacity: 1;
    transition: all 0.5s ease 1s;
}

/* wrapper1 */

.wrapper {
    right: 56%;
    top: 93%;
}

/* wrapper2 */

.wrapper1 {
    right: 34%;
    top: 93%;
}

/* wrapper3 */

.wrapper2 {
    right: 11%;
    top: 93%;

}

/* wrapper4 */

.wrapper3 {
    right: 56%;
    top: 124%;
}

/* wrapper5 */

.wrapper4 {
    right: 34%;
    top: 124%;
}

/* wrapper6 */

.wrapper5 {
    right: 11%;
    top: 124%;
}
